*{
	margin:0;
	padding: 0;
	font-family: "Bookman Old Style",Georgia;
}

body{
	background:-webkit-linear-gradient(300deg,#0F0F0F,#32003D);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	padding-right: 3%;
	font-size:1.8em;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

#main-menu{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
/*	background: white -webkit-linear-gradient(top,
											#400000 0,
											#400000 20%,
											white 0,
											white 80%,
											#400000 0,
											#400000 100%);*/
	background: -webkit-linear-gradient(bottom,#DE2573,#FE4F30);
	width: 15vw;
	height: 60vh;
	padding:2%;
	border-radius: 40px 4px 40px 4px;
	box-shadow: 0px 0px 10px black;
}

#main-menu-button-signup{
	margin: 20% 0;
}

@keyframes changing-backlight{
	0%{
		box-shadow: 0px 0px 5px white;
	}

	50%{
		box-shadow: 0px 0px 15px white;
	}

	100%{
		box-shadow: 0px 0px 5px white;
	}
}

.main-menu-button{
	margin: 2% 0;
	border:none;
	background-color: #AC306D;
	color:white;
	padding:3.5% 1%;
	border-radius: 5px;
	cursor: pointer;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 5px white;
	transition:0.1s linear;
	animation: changing-backlight 2s linear infinite;
}

.main-menu-button:hover{
	background-color: #961E59;
}

.main-menu-button:nth-child(odd):hover{
	transform: rotate(2deg);
}

.main-menu-button:nth-child(even):hover{
	transform: rotate(-2deg);
}

.main-menu-button:active{
	background-color: #78033D;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

#login-interface, #signup-interface{
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	align-items:center;
	border-radius: 40px 4px 40px 4px;
	width: 40vw;
	text-align: center;

/*	background: white -webkit-linear-gradient(top,
											#400000 0,
											#400000 25%,
											white 0,
											white 100%);*/

	background: white -webkit-linear-gradient(bottom,#8B357C,#0F0F0F);

	box-shadow: 0px 0px 10px black;
	overflow-y:scroll;
}

#login-interface{
	height: 75vh;
}

#signup-interface{
	height: 80vh;
}

#login-interface::-webkit-scrollbar,#signup-interface::-webkit-scrollbar{
	width: 0;
}

#logo{
	border-radius: 100%;
	margin:0 0 6% 0;
	width: 80px;
	height: 80px;
}

.form{
	margin:0 0 5% 0;
}

input{
	font-size: 1.25em;
	outline-style: none;
	border:none;
	border-bottom: 4px solid rgba(255,255,255,0.5);
	background: transparent;
	color:white;
	display: block;
	margin-bottom: 6%;
}

input::placeholder{
	color:rgba(255,255,255,0.8);
}

input[name="username"],input[name="password"],
input[name="signup-username"],input[name="signup-password"],
input[name="signup-confirm-username"],input[name="signup-confirm-password"]
{
	width: 100%;
}


#login.login-button{
	margin-top: 4%;
}

.login-button,.signup-button{
	border:none;
	border-left: 8px solid white;
	background-color:transparent;
	color:white;
	opacity: 0.75;
	font-weight: bold;
	padding:1%;
	border-radius: 2px;
	cursor: pointer;
}

.login-button:hover,.signup-button:hover{
	opacity: 0.5;
}

.login-button:active,.signup-button:active{
	border-left: 8px solid darkgray;
	color:darkgray;
}

#back.login-button{

}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

button{
	font-size: 1.2em;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

.signup-label{
	color: rgba(255,255,255,0.65);
	margin:5% 0 12% 0;
	cursor: default;
}

#signup{
	margin-top: 2%;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.modal-window article p{
	margin-bottom: 2%;
}

.modal-window-paragraph{
	font-size: 1.3em;
}

@keyframes giro-logo{
	to{
		transform: rotate(360deg);
	}
}

@keyframes parpadeo{
	0%{
		opacity:0.5;
	}

	50%{
		opacity: 0.9;
	}

	100%{
		opacity:0.5;
	}
}

#menu-logo{
	position: fixed;
	top:6%;
	left: 8%;
	opacity:0.5;
	width: 35vw;
	border-radius: 100%;
	/*margin:8% 0 6% 0;*/
	animation: giro-logo 30s linear infinite;
	transition: 0.22s linear;
}

#internal-menu-logo{
	position: fixed;
	top:6%;
	left: 8%;
	opacity:1;
	width: 35vw;
	border-radius: 100%;
	/*margin:8% 0 6% 0;*/
	transition: 0.22s linear;
}

/*
#logo-menu:hover{
	opacity: 0.5;
}
*/
#test-version-container{
	position: fixed;
	top:94%;
	left: 3%;
	color:white;
	opacity:0.5;
	animation: parpadeo 3s linear infinite;
	font-weight: bold;
	font-style: italic;
	cursor:default;
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

/*                   MEDIA QUERIES                */

@media screen and (max-width: 1000px){
	body{
		justify-content: center;
	}

	#login-interface, #signup-interface{
		width: 75vw;
		height: 80vh;
	}

	#main-menu{
		width: 55vw;
		align-items: center;
		height: 45vh;
	}

	.main-menu-button{
		padding: 1.5%;
		font-size: 1.5em;
		width: 75%;
	}

	#main-menu-button-signup{
		margin:2.5% 0;
	}

	#menu-logo,#internal-menu-logo{
		display:none;
	}

	#test-version-container{
		font-size: 1.3em;
	}

	.modal-window-paragraph{
		font-size: 1.15em;
	}
}

@media screen and (max-width: 1100px){

	body{
		font-size:1.15em;
	}

	.main-menu-button{
		margin: 10% 0;
	}

	#menu-logo,#internal-menu-logo{
		top:20%;
		left:15%;
	}
}

@media screen and (max-width: 1250px){

	body{
		font-size:1.15em;
	}

	.main-menu-button{
		margin: 10% 0;
	}

	#menu-logo,#internal-menu-logo{
		top:15%;
		left:12%;
	}
}

@media screen and (max-width: 1300px){

	body{
		font-size:1.15em;
	}

	.main-menu-button{
		margin: 10% 0;
	}

	#menu-logo,#internal-menu-logo{
		top:auto;
		left:10%;
	}
}

@media screen and (max-width: 1350px){

	body{
		font-size:1.15em;
	}

	.main-menu-button{
		margin: 10% 0;
	}

	#menu-logo,#internal-menu-logo{
		top:auto;
		left:10%;
	}
}