*{
	margin:0;
	padding: 0;
	font-family: "Bookman Old Style",Georgia;
}

body{
	background:-webkit-linear-gradient(300deg,#0F0F0F,#32003D);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	padding-right: 3%;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

#menu-principal{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
/*	background: white -webkit-linear-gradient(top,
											#400000 0,
											#400000 20%,
											white 0,
											white 80%,
											#400000 0,
											#400000 100%);*/
	background: -webkit-linear-gradient(bottom,#DE2573,#FE4F30);
	width: 15vw;
	height: 60vh;
	padding:2%;
	border-radius: 40px 4px 40px 4px;
	box-shadow: 0px 0px 10px black;
}

#boton-menu-registro{
	margin: 20% 0;
}

@keyframes brillo-fluctuante{
	0%{
		box-shadow: 0px 0px 5px white;
	}

	50%{
		box-shadow: 0px 0px 15px white;
	}

	100%{
		box-shadow: 0px 0px 5px white;
	}
}

.boton-menu{
	margin: 2% 0;
	border:none;
	background-color: #AC306D;
	color:white;
	padding:2.5% 1%;
	border-radius: 5px;
	cursor: pointer;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 5px white;
	transition:0.1s linear;
	animation: brillo-fluctuante 2s linear infinite;
}

.boton-menu:hover{
	background-color: #600000;
}

.boton-menu:active{
	background-color: #300000;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

#interfaz-inicio-de-sesion, #interfaz-registro{
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	align-items:center;
	border-radius: 40px 4px 40px 4px;
	width: 40vw;
	text-align: center;

/*	background: white -webkit-linear-gradient(top,
											#400000 0,
											#400000 25%,
											white 0,
											white 100%);*/

	background: white -webkit-linear-gradient(bottom,#EB4123,#0F0F0F);

	box-shadow: 0px 0px 10px black;
	overflow-y:scroll;
}

#interfaz-inicio-de-sesion{
	height: 75vh;
}

#interfaz-registro{
	height: 80vh;
}

#interfaz-inicio-de-sesion::-webkit-scrollbar,#interfaz-registro::-webkit-scrollbar{
	width: 0;
}

#logo{
	border-radius: 100%;
	margin:0 0 6% 0;
	width: 80px;
	height: 80px;
}

.formulario{
	margin:0 0 5% 0;
}

input{
	font-size: 1.25em;
	outline-style: none;
	border:none;
	border-bottom: 4px solid rgba(255,255,255,0.5);
	background: transparent;
	color:white;
	display: block;
	margin-bottom: 6%;
}

input::placeholder{
	color:rgba(255,255,255,0.8);
}

input[name="usuario"],input[name="clave"],
input[name="reg-usuario"],input[name="reg-clave"],
input[name="reg-confirmar-usuario"],input[name="reg-confirmar-clave"]
{
	width: 100%;
}


#iniciar-sesion.boton-inicio-de-sesion{
	margin-top: 4%;
}

.boton-inicio-de-sesion,.breg{
	border:none;
	border-left: 8px solid white;
	background-color:transparent;
	/*color:#400000;*/
	color: white;
	opacity: 0.75;
	font-weight: bold;
	padding:1%;
	border-radius: 2px;
	cursor: pointer;
}

.boton-inicio-de-sesion:hover,.breg:hover{
	opacity: 0.5;
}

.boton-inicio-de-sesion:active,.breg:active{
	border-left: 8px solid darkgray;
	color:darkgray;
}

#boton-inicio-de-sesion-volver.boton-inicio-de-sesion{

}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

button{
	font-size: 1.2em;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

.reg-label{
	color: rgba(255,255,255,0.65);
	margin:5% 0 12% 0;
	cursor: default;
}

#registrarse{
	margin-top: 2%;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.parrafo-ventana-modal{
	font-size: 1.3em;
}

@keyframes giro-logo{
	to{
		transform: rotate(360deg);
	}
}

@keyframes parpadeo{
	0%{
		opacity:0.5;
	}

	50%{
		opacity: 0.9;
	}

	100%{
		opacity:0.5;
	}
}

#logo-menu{
	position: fixed;
	top:15%;
	left: 13%;
	opacity:0.5;
	width: 300px;
	border-radius: 100%;
	/*margin:8% 0 6% 0;*/
	animation: giro-logo 30s linear infinite;
	transition: 0.22s linear;
}

#logo-interno-menu{
	position: fixed;
	top:15%;
	left: 13%;
	opacity:1;
	width: 300px;
	border-radius: 100%;
	/*margin:8% 0 6% 0;*/
	transition: 0.22s linear;
}

/*
#logo-menu:hover{
	opacity: 0.5;
}
*/
#contenedor-version-de-prueba{
	position: fixed;
	top:94%;
	left: 3%;
	color:white;
	opacity:0.5;
	animation: parpadeo 3s linear infinite;
	font-weight: bold;
	font-style: italic;
	cursor:default;
}